.searchContainer {
  width: 74px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;

  .debounceInput {
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 60%;
    padding: 5px 10px;
    outline: none;
  }
}

@media screen and (min-width: 600px) {
  .searchContainer {
    min-width: 300px;
    margin: 10px 0;
  }
}