@import "variables";

.header {
  padding: 6px;
  font-size: 12px;
  font-family: var(--font-roboto);
  display: flex;
  justify-content: space-between;
  background-color: $primaryColor;
  color: $whiteColor;
  .logo {
    display: flex;
    align-items: center;
    .links {
      color: $whiteColor;
      font-weight: 600;
      text-decoration: none;
    }
  }
  .navigation {
    display: flex;
    justify-content: flex-end;
    .links {
      color: $whiteColor;
      font-weight: 600;
      text-decoration: none;
    }
    nav {
      display: flex;
      align-items: stretch;
      ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin: 0;
      }
    }

    input {
      width: 74px;
      border-radius: 10px;
      margin: 0 6px;
      border: none;
      outline: none;
      padding-left: 10px;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }
}
@media screen and (min-width: 700px) {
  .header {
    padding: 0 20px;
    justify-content: space-between;
    font-size: 16px;
    .navigation {
      flex: 0.5;
      gap: 20px;
      margin: 0;
      nav {
        ul {
          gap: 20px;
          margin-right: 20px;
          margin-right: 0;
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }
      }
      input {
        min-width: 300px;
        margin: 10px 0;
      }
    }
  }
}
